/* navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  z-index: 1000;
  font-size: 20px;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.navbar h2 {
  margin: 0;
}

/* Ensure primary color adjusts for dark and light modes */
[data-theme="light"] {
  --primary-color: #47709b;
}

[data-theme="dark"] {
  --primary-color: #1e3a5f;
}

.logo {
  margin-left: 10px;
  font-size: xx-large;
  transition: transform 0.3s ease-in-out;
  }

  .logo:hover {
    transform: scale(1.1);
}


.logo-highlight {
  color: rgb(209, 248, 251);
  font-size: smaller;
}