/* navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  z-index: 1000;
  font-size: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar h2 {
  margin: 0;
}

/* Ensure primary color adjusts for dark and light modes */
[data-theme="light"] {
  --primary-color: #4c77a5;
}

[data-theme="dark"] {
  --primary-color: #1e3a5f;
}
