.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4c77a5;
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  z-index: 1000;
  font-size: 20px;
}


.navbar h2 {
  margin: 0;
}
